$table-color: #ffffff;
$table-background-color: #36404a;
$table-cell-heading-color: #ffffff;
$table-head-cell-color: #ffffff;
$table-head-background-color: #414d5a;
$table-cell-border: 1px solid #59718a;


$modal-card-head-background-color: #414d5a;
$modal-card-title-color: #ffffff;
